@import './fonts.css';
@import 'tailwindcss';

@theme {
  /* background */
  --color-button-primary: #0b0b0b;
  --color-button-secondary: #f5f5f5;
  --color-muted: #f3f3f3;

  /* Border color */
  --color-hard: #0b0b0b;
  --color-input: #b7b7b7;

  /* Text color */
  --color-primary-foreground: #fbfbfb;
  --color-foreground: #0b0b0b;
  --color-secondary-foreground: #0b0b0b;
  --color-surface: #969696;
  --color-secondary: #969696;

  /* Blue scale */
  --blue-600: #2563eb;

  --color-outline: rgb(0 0 0 / 0.3);

  /* Fonts */
  --font-sans: 'Nunito', sans-serif;
}

html {
  font-family: var(--font-sans), serif !important;
}

input {
  outline: none;
  border: none;
}
